#login-form
{
	margin-top:50px;
}
table tr td input
{
	width:90%;
	height:30px;
	border:solid #e1e1e1 1px;
	border-radius:3px;
	padding-left:2px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	background:#f9f9f9;
	transition-duration:1s;
	box-shadow: inset 0px 0px 1px rgba(0,0,0,0.4);
}
table tr td input[type="submit"]
{
	width:92px;
	padding-left:5px;
	font-size:16px;
	background:#38ACEC;
	transition-duration:0.5s;
}